/* Calendar container to make it fit parent div */
.calendar-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.react-calendar {
  border: none !important;
  border-radius: 8px !important;
}

abbr {
  width: 40px;
  height: 40px;
}

abbr[title] {
  -webkit-text-decoration: none !important;
  text-decoration: none !important;
}
/* Apply capitalization to make only the first letter uppercase */
.react-calendar__month-view__weekdays__weekday abbr {
  text-transform: capitalize !important;
}

.react-calendar {
  width: 100% !important;
  height: 100% !important;
}
.react-calendar__tile {
  position: relative;
  padding: 0 !important; /* Remove any extra padding to fit content */
  height: 100%; /* Ensure tiles take full height */
}

.react-calendar__tile--disabled {
  visibility: hidden !important;
}
/* Target Saturdays (6th day of the week) and Sundays (7th day of the week) */
.react-calendar__month-view__days__day--weekend {
  color: #367561; /* Sets the text color for weekends */
}

.react-calendar__month-view__days__day:not(.-weekend) {
  color: black !important; /* Weekday color */
}
/* Optionally, if you want the background to also change */
.react-calendar__month-view__days__day--weekend abbr {
  color: #367561; /* Set the weekend background color */
  border-radius: 50%; /* Makes the background a circle around dates */
  padding: 0.3em;
}

/* Custom styling for each day tile */
.react-calendar__tile {
  width: 75px;
  height: 75px;
  display: flex;
  flex-direction: column-reverse; /* Correct usage */
  justify-content: center; /* Center content after reversing */
  align-items: center;
  padding: 0; /* Remove padding to ensure content fits */
}

/* Additional styling for hover effect (optional) */
.react-calendar__tile:hover {
  background-color: #f0f0f0; /* Light background on hover */
}
/* Ensuring each calendar tile's inner content aligns well */
.react-calendar__month-view__days__day {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* If you want to increase the size of the day numbers */
.react-calendar__tile > abbr {
  font-size: 16px; /* Adjust the font size as needed */
}
.react-calendar__month-view__days__day .react-calendar__tile--active {
  background: "#367561" !important;
}
/* ----------------------------------------------------------------- */
/* removed the defaults dates background styles */
.react-calendar__tile--active {
  background-color: transparent !important; /* Active background color */
  color: white !important; /* Ensures the text is visible */
  border-radius: 50% !important; /* Make selected date a circle */
}

/* Remove hover effect for the selected date */
.react-calendar__tile--active:hover {
  background-color: transparent !important; /* Keep the same active background color */
}

/* Hover effect for non-selected day tiles */
.react-calendar__tile:hover {
  background-color: transparent !important; /* Hover background color */
}
/* Style for today's date - border only, no background color */
.react-calendar__tile--now {
  background-color: transparent !important; /* No background color */
  border: 2px solid transparent !important;
  color: black !important; /* Ensure today's date is readable */
  /* border-radius: 50% !important;  */
}

/* Ensures the text is centered and properly aligned */
.react-calendar__tile {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 10px !important; /* Adjust padding as needed */
  /* border-radius: 50% !important;  */
}
/* ---------------------------------------------------------------------- */
/* ADDED NEW STYLES FOR THE PERTICULAR DATE */

.react-calendar__tile--active > abbr {
  background-color: #367561 !important; /* Active background color */
  color: white !important; /* Ensures the text is visible */
  border-radius: 50% !important; /* Make selected date circular */
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 10px !important; /* Adjust padding to make it a circle */
}

/* Prevent hover effect on active date */
.react-calendar__tile--active:hover > abbr {
  background-color: #367561; /* Keep the same active background color on hover */
}

/* Hover effect for non-selected day tiles */
.react-calendar__tile:hover > abbr {
  background-color: #e2f4e9;
  border-radius: 50% !important;
}

/* Style for today's date - border only, no background color */

/* Ensures the text inside the date is centered and properly aligned */
.react-calendar__tile > abbr {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 10px !important; /* Adjust padding as needed to form a circle */
  /* border-radius: 50% !important; */
}

/* Styles for the prev and next button */

.react-calendar__navigation {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
  align-items: center !important;
}

.react-calendar__navigation__label {
  flex-grow: 0 !important;
  height: 100% !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
  background-color: #e2f4e9 !important;
  border-bottom-left-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
}

.react-calendar__navigation__next2-button {
  display: none !important;
}

.react-calendar__navigation button:enabled:hover {
  background-color: #e2f4e9 !important;
  color: black !important;
}

.react-calendar__navigation button:enabled:focus {
  background-color: #e2f4e9 !important;
  color: black !important;
}

.react-calendar__navigation__prev-button {
  height: 100% !important;
  font-size: 28px !important;
}
.react-calendar__navigation__next-button {
  height: 100%;
  border-top-right-radius: 7px;
  font-size: 28px !important;
}
.react-calendar__navigation__prev-button:hover {
  background-color: #e2f4e9 !important;
  color: black !important;
  border-top-left-radius: 7px;
}

.react-calendar__navigation__prev2-button {
  display: none !important;
  border-top-left-radius: 7px;
}

/* -------------------Style for month--------------------- */
.react-calendar__tile--hasActive {
  background-color: #367561 !important;
  color: white !important;
  border-radius: 6px;
}
/* Style for months and years on hover */
.react-calendar__year-view__months__month:hover,
.react-calendar__decade-view__years__year:hover {
  background-color: #e2f4e9 !important;
  border-radius: 6px !important;
}

/* Prevent hover color from overriding the active color */
.react-calendar__tile--hasActive:hover {
  background-color: #367561 !important; /* Keep active color */
  color: white !important;
}

.react-calendar__tile--hasActive:hover > abbr {
  background-color: #367561 !important; /* Keep active color */
  color: white !important;
}

/* --------------------------Year styles--------------------------------- */

.react-calendar__decade-view__years__year:hover {
  background-color: #e2f4e9;
  border-radius: 6px !important;
}

.react-calendar__tile--hasActive {
  background: #367561 !important;
  color: white !important;
  border-radius: 6px;
}

.react-calendar__tile:disabled {
  visibility: hidden !important;
}

.react-calendar__navigation__prev-button:disabled {
  border-top-left-radius: 8px;
}
.react-calendar__navigation button:disabled {
  background-color: #f0f0f0 !important;
}
@media (max-width:767px){
  .react-calendar__tile {
    width: 50px;
    height: 50px;
  }
}
